<%# Form to edit %>
 <%#= @page.title Page will go here %>

<%#= form_for(@page) do |f| %>
  <%# <div class="field"> %>
  <%#= f.label :title %>
    <%#= f.text_field :title %>
  <%# </div> %>

   <%# <div class="field"> %>
  <%#= f.label :body %>
    <%#= f.text_area :body %>
  <%# </div> %>

   <%# <div class="field"> %>
  <%#= f.label :slug %>
    <%#= f.text_field :slug %>
  <%# </div> %>

  <%#= f.submit %>
  
<%# end  %>
 <%# partial using local var page with instance var @page assignment %>
<%= render 'form', page: @page %>